.vetlink-logo{
  width: 40px;
  margin-left: 40px;
}

.vetlink-name{
  margin-left: 40px;
}

.grid-container{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto 1fr;
  gap: 20px;
  width: 100%;
  min-height: 100vh;
  padding: 10px;
}

.grid-item{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  background-color: var(--container-color);
  border: 2px solid var(--shadow-color);
  box-shadow: 4px 4px var(--shadow-color);
  border-radius: 10px;
}

.item-1{
  grid-column: 1/3;
  justify-content: space-between;
  padding-left: 10px;
  padding-right: 10px;
}
.item-2{
  margin-bottom: 20px;
}
.item-3{
  height: 88vh;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  grid-row: 2 / 3;
  gap: 20px;
  padding: 10px;
}

.right-column {
  grid-row: 2 / 3;
  display: flex;
  flex-direction: column;
}
.item-4-5{
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.welcome{
  position: absolute;
  left: 14%;
  top: 2.7%;
  display: flex;
  align-items: center;
}


.logout-button{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border-radius: 50%;
 margin-right: 10px;
  background-color: var(--primary-color);
}

.logout-button:hover{
  background-color: var(--secondary-color);
}

.logout-icon{
  width: 70%;
}
